<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="C2W.Properties.Settings.c2wConnectionString" connectionString="server=servidor;user id=root;password=1307;persistsecurityinfo=True;database=c2w"
            providerName="MySql.Data.MySqlClient" />
        <add name="C2W.Properties.Settings.c2wConnectionString1" connectionString="server=servidor;user id=root;password=1307;persistsecurityinfo=True;database=c2w"
            providerName="MySql.Data.MySqlClient" />
        <add name="C2W.Properties.Settings.c2wConnectionString2" connectionString="server=servidor;user id=root;password=1307;persistsecurityinfo=True;database=c2w"
            providerName="MySql.Data.MySqlClient" />
        <add name="C2W.Properties.Settings.c2wConnectionString3" connectionString="server=servidor;user id=root;password=1307;persistsecurityinfo=True;database=c2w"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>